/* styles.css */
.shadowPulse{
    animation: shadowPulse 4s ease-in-out infinite; 
  }
  

@keyframes shadowPulse {
    0% {
      box-shadow: 0 4px 15px rgba(0, 0, 255, 0.5); /* Blue */
    }
    25% {
      box-shadow: 0 4px 15px rgba(0, 255, 255, 0.853); /* Cyan */
    }
    75% {
      box-shadow: 0 4px 15px rgba(255, 0, 255, 0.5); /* Magenta */
    }
    100% {
      box-shadow: 0 4px 15px rgba(0, 0, 255, 0.5); /* Blue */
    }
  }
  
  .shadow-pulse {
    animation: shadowPulse 4s ease-in-out infinite;
    box-shadow: 0 4px 15px rgba(0, 0, 255, 0.5); /* Initial shadow (Blue) */
  }
  